<%- include('header.ejs'); %>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">You have answered <%- score[0]  -%> right out of <%- score[1] -%> tries</div>
            <div class="card-body">
                <div class="hero-element">
                    <!-- Your hero content goes here -->
                    <h3>The End</h3>
                    <p>You've made it this far, the only question left to ask is...</p>
                    <p>... Why?</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Your Score</h3>
                        <p>You have answered <%- score[0]  -%> right out of <%- score[1] -%> tries</p>
                        <p>That's <%- Math.round(score[0]/score[1]*100) -%>%</p>
                        <br>
                        <h4 class="clickable-div" onclick="window.location.href = '/reset'">Click here to try again?</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
       
    });
</script>

<%- include('footer.ejs'); %>
